*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body{
    height: 100vh;
    max-width: 100vw;
}

.navbar{
    background-color: #0F1111;
    height: 3.75rem;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.8rem;
    padding: 0 0.3rem;
}

.nav-logo{
    height: 3.125rem;
    width: 7.0625rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-image: url("./images/amazon_logo.png");
    width: 100%;
    height: 100%;
    background-size: cover;
}

.border:hover{
    border: 1.2px solid white;
    border-radius: 2.5px;
}

.nav-address{
    height: 3.125rem;
    width: 5.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.25rem;
}

.fa-location-dot{
    height: 1.25rem;
    width: 1.25rem;
}

.address-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start; 
}

.address-first{
    color: #CCCCCC;
    font-size: 0.85rem;
}

.address-second{
    font-size: 1rem;
    font-weight: 700;
}

.nav-search{
    height: 2.5rem;
    width: 40.25rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0.25rem;
}

.nav-search > select{
    height: 100%;
    width: 3.25rem;
    background-color: #D4D4D4;
    text-align: center;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border: none;
    font-size: 1rem;
}

.nav-search > input{
    height: 100%;
    width: 100%;
    border: none;
    padding: 0 0.25rem;
    font-size: 1rem;
}

.search-icon{
    height: 100%;
    width: 3.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3A847;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.search-icon > i{
    color: black;
    font-size: 1.3rem;
}

.nav-search:hover{
    border: 2px solid #FF9900;
}

.nav-language{
    height: 3.125rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    gap: 0.2rem;
    padding: 0 0.25rem;
}

.nav-language > img{
    height: 1.75rem;
    width: 2.5rem;
    border-radius: 0px;
}

.nav-sign-in{
    height: 3.125rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 0 0.45rem;
}

.nav-sign-in > div{
    display: flex;
    justify-content: start;
    gap: 0.25rem;
}

span{
    font-size: 0.85rem;
}

.returns{
    width: 5.5rem;
}

.nav-second{
    font-size: 1rem;
    font-weight: 700;
}

.nav-cart{
    height: 3.125rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.nav-cart > p{
    margin-top: 0.85rem;
}

.nav-cart > i{
    font-size: 2rem;
}

.panel{
    height: 2.5rem;
    width: 100%;
    background-color: #232F3E;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.1rem 0.5rem;
    gap: 1rem;
}

.panel-all{
    height: 100%;
    width: 4rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
}

.panel-options{
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: start;
    gap: 0.8rem;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
}

.panel-options > p{
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
}

.panel-all > i{
    font-size: 1.6rem;
}

.panel-deals{
    color: white;
    height: 100%;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero{
    background-image: url("./images/hero_image.jpg");
    background-size: cover;
    height: 25rem;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    background-color: white;
    height: 2.5rem;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.hero-msg > a{
    color: #007185;
}

.shop{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #E2E7E6;
    width: 100%;
    padding-bottom: 1.5rem;
}

.box{
    width: 23%;
    height: 420px;
    background-color: white;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-top: 1.5rem;
}

.box-img{
    height: 80%;
    width: 100%;
    background-repeat: no-repeat;
}

.box > p{
    color: #007185;
}

.foot-panel-1{
    background-color: #37475A;
    color: white;
    height: 3.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.foot-panel-1 > a{
    color: white;
}

.foot-panel-2{
    background-color: #222F3D;
    color: white;
    height: 32rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.foot-panel-2-box{
    height: 25rem;
    width: 20rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 0 1rem;
}

.foot-panel-2-box > ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.85rem;
}

.foot-panel-2-box ul > p {
    color: white;
    font-size: 1.15rem;
}

.foot-panel-2-box ul > h2 {
    color: white;
    font-size: 1.25rem;
}

.foot-panel-2-box ul > p:hover{
    border-bottom: 2px solid white;
}

.foot-panel-2-box ul > h2 {
   margin-bottom: 0.5rem;
}

.foot-panel-3{
    height: 6rem;
    background-color: #232F3E;
    border-top: 1px solid #3A4553;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 5rem 0;
}

.foot-panel-3 > img {
    height: 6rem;
    width: 9rem;
}

.foot-panel-3-select{
    color: white;
    border: 1px solid #8D9096;
    height: 3rem;
    width: 8rem;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.1rem;
}

.select-2{
    width: 12rem;
    padding: 0 1rem;
}

.foot-panel-3-select > img{
    height: 2rem;
    width: 3rem;
}

.select-3{
    width: 12rem;
    gap: 0.3rem;
}

.foot-panel-4{
    height: 40rem;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(7, 1fr);
    background-color: #131A22;
    color: white;
    padding: 3rem 10rem;
}

.foot-panel-4-box{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    font-size: 1rem;
    padding: 1rem;
}

.title{
    color: #D7D4DD;
    font-weight: 500;
}

.desc{
    color: #999999;
}

.foot-panel-5{
    background-color: #131A22;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3.5rem;
    gap: 0.5rem;
}

.link-container{
    width: auto;
    height: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
}

.link-container > p:hover{
    border-bottom: 1.5px solid #D7D4DD;
}